
#menu li{
	font-size: 14px;
	border: 2px solid black;
	border-radius: 5px;
	display: block;
	width: 60px;
	text-align: center;
	background-color: yellow;
}


#menu li:hover {
	color: red;
	font-weight: bold;
	text-decoration: none;

}



table {
	border: 5px solid black;
	text-align: center;
	width: 100%;


	border-collapse: collapse;
	border: none;

}

th {
	background-color: gray;
	cursor: pointer;
}


.nav nav-pills {
	height: 150px;
	width: 150px;
}

#mail tr:hover {
	color: blue;
	font-weight: bold;
}

tr:visited {
	color: gray;
}


table #tableB tr td:first-child, table #tableB tr td:nth-child(2), table #tableB tr td:nth-child(3) {
	display: none;
}

table #mailData tr td:nth-child(4)  {
	display: none;
}

span {
	border: 2px solid black;
	border-radius: 5px;

}