
button:hover {
	color: blue;
	font-weight: bold;
}

input:hover {
	color: blue;
	font-weight: bold;
}




table {
	border: 5px solid black;
	text-align: center;
	width: 100%;


	border-collapse: collapse;
	border: none;

}

th {
	background-color: gray;
	cursor: pointer;
}


.nav nav-pills {
	height: 150px;
	width: 150px;
}

#mail tr:hover {
	color: blue;
	font-weight: bold;
}

tr:visited {
	color: gray;
}



table #mailData tr td:nth-child(4), table #mailData tr td:nth-child(7)  {
	display: none;

}

span {
	border: 2px solid black;
	border-radius: 5px;
	width: 20px;
	float: right;

}

#mailClone tr td {
  display: none;
}

#mailClone tr td:nth-child(1), #mailClone tr td:nth-child(2), #mailClone tr td:nth-child(3), #mailClone tr td:nth-child(4), #mailClone tr td:nth-child(7){
  display: block;
}



#mailBody tr{
	outline: black solid 1px;
}

#mailClone tr td:nth-child(4){
  	background-color: yellow;
}



#mailClone tr td:nth-child(1), #mailClone tr td:nth-child(2), #mailClone tr td:nth-child(3) {
	background-color: lightgray;
}